KeepAlive Off

<VirtualHost *:80>

    ServerName $SITE_DOMAIN

    ServerAdmin admin@oppian.com

    CustomLog ${DEPLOY_DIR}/access.log combined
    ErrorLog ${DEPLOY_DIR}/error.log
    LogLevel warn
    
    WSGIScriptAlias / $DEPLOY_DIR/pinaxdemosocial/deploy/pinax.wsgi
    
</VirtualHost>
